
<section class="about-area-eight pb-100" style="background: #140e26;">
    <div class="container">

    </div>
</section>
<section class="inner-contact-area pt-120 pb-120">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="inner-contact-img">
					<img src="assets/img/images/contact_img.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="inner-contact-info">
					<h2 class="title">Get in touch </h2>
					<div class="contact-info-item">
						<div class="team-details-info">
							<ul class="list-wrap">
								<li><i class="flaticon-phone-call"></i>+123 8989 444</li>
								<li><i class="flaticon-mail"></i>info@gmail.com</li>
							</ul>
						</div>
					</div>
					<div class="estimate-form-wrap">
						<form action="#">
							<div class="form-grp">
								<input type="text" placeholder="Full Name">
							</div>
							<div class="form-grp">
								<input type="email" placeholder="E-mail">
							</div>
							<div class="form-grp">
								<input type="number" placeholder="Phone">
							</div>
							<button class="btn btn-three" type="submit">Get a Quote Now</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>