<footer>
	<div class="footer-area footer-bg" data-background="assets/img/bg/footer_bg.jpg" style="background-image: url(&quot;assets/img/bg/footer_bg.jpg&quot;);">
		<div class="container">
		
				
			<div class="footer-bottom">
				<div class="align-items-center">
					<div class="col-md-10 mx-auto">
						<div class="left-sider-">
							<div class="f-logo text-center">
								<a href="#">
									<img src="assets/img/logo/givens-logo.png" alt="">
								</a>
							</div>
							 <div class="copyright-text text-center">
								<p>Copyright © {{ currentYear }} Prophet Givens Chizenga | All Rights Reserved</p>
							</div> 
							<p class="footer-menu text-center">
								<a href="#">Facebook</a>
								<a href="#">Instagram</a>
								<a href="#">X</a>
								</p>
						</div>
					</div>
					<!-- <div class="col-md-6">
						<div class="footer-social">
							<ul class="list-wrap">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-youtube"></i></a></li>
							</ul>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</footer>