<section class="about-area-eight pb-100" style="background: #140e26;">
    <div class="container">

    </div>
</section>
<section class="about-area-eight pt-150 pb-120">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-9">
                <div class="about-img-eight">
                    <img src="assets/img/images/prophet-givens-inner-about.jpg" width="400"
                        alt="Prophet Givens Chizenga">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content_">
                    <div class="section-title mb-25 tg-heading-subheading animation-style2_">
                        <!-- <span class="sub-title tg-element-title color-white">About</span> -->
                        <h2 class="title tg-element-title">Blessings,</h2>
                    </div>
                    <p class="body-p-1">I am Prophet Givens Chizenga, and I'm delighted that you've
                        joined me here today. I am a Minister of the Word of God, and my unwavering
                        passion lies in sharing the unlimited power of Christ Jesus. 
                        <br>
                        With a profound Prophetic mantle
                        upon my life, I strive to illuminate the path of righteousness for believers worldwide. On this
                        website, you will find enlightening teachings, experience the transformative power of the
                        Gospel, and be inspired in your faith journey. <br> 
                        Let's embark on a path of spiritual growth
                        together as we embrace the truth and witness the miraculous work of God in our lives. Thank you
                        for joining me on this fulfilling adventure.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-area about-bg" style="background: #f9f9fa;">
    <div class="container">
        <div class="row align-items-center pb-120">
            <div class="section-title mb-25 tg-heading-subheading animation-style2_">
                <!-- <span class="sub-title tg-element-title">Ministry</span> -->
                <h2 class="title tg-element-title">Early Life</h2>
            </div>
         
            <div class="col-lg-9">
                <div class="about-content">
                    <p class="text-justify">
                        Born and raised in the vibrant city of Chitungwiza, Zimbabwe, my spiritual journey began at a
                        remarkably early age when I received a divine calling to be a worker of the Kingdom of Heaven.
                        This calling ignited a deep passion within me to spread the Gospel and bring hope, healing, and
                        salvation to the lives of people around me. In 2016, I embraced another significant milestone in
                        my life as I joined in holy matrimony with my beloved wife, Yollunda Chizenga. Together, we
                        embarked on an adventure of love, faith, and shared purpose.</p>
                </div>
            </div>
               <!-- <div class="col-lg-3">
           
            </div> -->
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four"><img src="assets/img/project/h5_project_img01.jpg" alt="">
                        <div class="project-link"><a href="#"><img
                                    src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four"><img src="assets/img/project/h5_project_img02.jpg" alt="">
                        <div class="project-link"><a href="#"><img
                                    src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four"><img 
                            src="assets/img/project/h5_project_img03.jpg" alt="">
                        <div class="project-link"><a 
                                href="#"><img 
                                    src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four"><img 
                            src="assets/img/project/h5_project_img04.jpg" alt="">
                        <div class="project-link"><a 
                                href="#"><img 
                                    src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four"><img 
                            src="assets/img/project/h5_project_img05.jpg" alt="">
                        <div class="project-link"><a 
                                href="#"><img 
                                    src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>


<section class="about-area about-bg" style="background: #fff;">
    <div class="container">
        <div class="row align-items-center pb-120">
            <div class="section-title mb-25 tg-heading-subheading animation-style2_">
                <!-- <span class="sub-title tg-element-title">Ministry</span> -->
                <h2 class="title tg-element-title" style="color: #140e26;">Professionnal Life</h2>
            </div>

            <div class="col-lg-12">
                <div class="about-content_">
                    <p class="text-justify body-p-1">
                        Following our marriage, Yollunda and I relocated to the city of Cape Town, South
                        Africa, where I dedicated myself to the relentless ministry of preaching the Gospel. Fueled by
                        an unquenchable hunger to guide my generation towards a deeper relationship with God, I
                        witnessed the transformative power of faith and the impact it had on people's lives. Inspired by
                        these experiences, I realized that God was calling me to establish a Ministry that would serve
                        as a beacon of light and hope for individuals seeking spiritual guidance.
                        <br>
                    </p>
                    <p class="text-justify body-p-1"> In February 2018, Gathering Of Believers Int Ministry was born,
                        with Cape Town as its humble
                        foundation. Led by my vision of soul-winning, preaching the Gospel to all nations, and restoring
                        hope to God's people, the Ministry began its journey. Through dynamic worship services,
                        impactful conferences, and various outreach programs, Gathering Of Believers Int Ministry
                        strives to equip believers with the tools they need to walk in victory and fulfill their
                        God-given destinies.
                        <br>
                    </p>
                    <p class="text-justify body-p-1"> With a deep understanding of the Word of God and a profound
                        Prophetic anointing, I am committed
                        to bringing hope, healing, and transformation to individuals seeking a closer relationship with
                        God. Through my ministry, I aim to make the Word of God accessible and applicable to everyday
                        life, helping believers overcome challenges and experience the abundant life that God desires
                        for them.
                    </p>
                </div>
            </div>
            <!-- <div class="col-lg-4 offset-1">
                <img src="assets/img/project/h5_project_img03.jpg" alt="">
            </div> -->
        </div>
        <div class="row justify-content-center">
            <!-- <div class="col-lg-6 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four"><img 
                            src="assets/img/project/h5_project_img01.jpg" alt="">
                        <div class="project-link"><a 
                                href="#"><img 
                                    src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four"><img 
                            src="assets/img/project/h5_project_img02.jpg" alt="">
                        <div class="project-link"><a 
                                href="#"><img 
                                    src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-4 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four">
                        <img src="assets/img/project/h5_project_img03.jpg" alt="">
                        <div class="project-link"><a href="#"><img
                                    src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four"><img src="assets/img/project/h5_project_img04.jpg" alt="">
                        <div class="project-link"><a href="#"><img
                                    src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four"><img src="assets/img/project/h5_project_img05.jpg" alt="">
                        <div class="project-link"><a href="#"><img
                                    src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>