<section class="about-area-eight pb-100" style="background: #140e26;">
    <div class="container">

    </div>
</section>

<section class="about-area about-bg" style="background: #f9f9fa;">
    <div class="container">
        <div class="row align-items-center">
            <div class="section-title mb-25 tg-heading-subheading animation-style2_">
                <!-- <span class="sub-title tg-element-title">Ministry</span> -->
                <h2 class="title tg-element-title" style="color: #140e26;">Our Ministry</h2>
            </div>
            <div class="col-lg-9">
                <div class="about-content">
                    <p class="text-justify">
                        I am the founder and president of Gathering Of Believers Int Ministry. This ministry is not just
                        an organization, but a passionate pursuit of God's kingdom on earth. It is a calling that has
                        been placed upon my heart to gather believers from all walks of life, united in their faith and
                        dedication to the Gospel.</p>
                </div>
            </div>


            <!-- <div class="col-lg-9">
                <div class="about-content">
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium vel neque a lacinia.
                        Aenean ac facilisis magna. Quisque auctor turpis metus, nec dapibus lectus sagittis eu. Fusce eu
                        dignissim dui, in facilisis justo. Donec tincidunt dui bibendum, consequat mi a, euismod turpis.
                        Etiam at posuere justo. Etiam a ligula pellentesque, fringilla massa a, luctus est. Phasellus
                        sed dictum velit, vitae condimentum ex. Praesent auctor, velit vel sodales pharetra, purus
                        libero commodo mi, eu facilisis nibh quam vitae nisi. Nulla elementum, mi eget fringilla
                        porttitor, mauris ex egestas ante, vitae euismod libero est eget arcu. Pellentesque massa ante,
                        tincidunt feugiat tincidunt sit amet, pellentesque vel odio. Proin eu fermentum est. Suspendisse
                        mattis dui sem, a porttitor ipsum placerat at.</p>
                </div>
            </div> -->
        </div>
    </div>
    <div class="container pt-60">
        <div class="row align-items-cente justify-content-center">
            <div class="col-lg-6 col-md-9">
                <div class="about-ministry">
                    <img src="assets/img/project/h5_project_img01.jpg" alt="">
                    <br>
                    <img src="assets/img/project/h5_project_img01.jpg" alt="">
                    <img src="assets/img/project/h5_project_img01.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content-eight">
                    <div class="section-title-two mb-30">
                        <!-- <span class="sub-title">Get To Know More</span>
                        <h2 class="title">We Have More Than 20+ Years Of Practical Finance Industries</h2> -->
                    </div>

                    <div class="about-content-inner">
                        <p>Gathering Of Believers International Ministry, under the visionary leadership of Prophet
                            Givens
                            Chizenga, is a dynamic and thriving ministry that relentlessly pursues its mission to bring
                            God's light to the world. Anchored in the foundational principles of soul winning, preaching
                            the Gospel, and restoring hope to God's people, this ministry has become a powerful force of
                            transformation and spiritual revival.</p>

                        <p>In the face of unprecedented challenges brought about by the Covid-19 pandemic in 2019,
                            Gathering Of Believers Int Ministry did not waver in its commitment to advancing the Kingdom
                            of God. Despite restrictions on gatherings and lockdown measures, Prophet Givens Chizenga's
                            unwavering dedication led him to personally visit families, going from home to home to
                            encourage, pray for, and minister healing to the sick. With an unwavering faith in the power
                            of God, he travelled great distances to reach every family and every individual, bringing
                            hope and restoration in a time of great uncertainty.</p>


                        <p>As the years passed, Gathering Of Believers Int Ministry experienced exponential growth and
                            expansion. In the year 2023, guided by the leading of the Holy Spirit, Prophet Givens
                            Chizenga made the decision to return to his home country of Zimbabwe. The Prophet's
                            homecoming was a resounding success, and in August 2023, Gathering of Believers Zimbabwe
                            Branch was established in Harare, specifically in the Seke Chitungwiza area. </p>

                        <p> Since its
                            inception, the Zimbabwe branch has experienced remarkable growth, welcoming new members with
                            open arms each service. As a testament to their commitment to the spiritual well-being of
                            individuals, Gathering of Believers Zimbabwe Branch extends an open invitation to all to
                            come and worship, experience the presence of God, and partake in the transformative power of
                            His Word.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-160">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four">
                        <img src="assets/img/project/h5_project_img01.jpg" alt="">
                        <div class="project-link">
                            <a href="#">
                                <img src="assets/img/icons/plus_icon.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four">
                        <img src="assets/img/project/h5_project_img02.jpg" alt="">
                        <div class="project-link"><a href="#">
                                <img src="assets/img/icons/plus_icon.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four"><img 
                            src="assets/img/project/h5_project_img03.jpg" alt="">
                        <div class="project-link"><a 
                                href="#"><img 
                                    src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four"><img 
                            src="assets/img/project/h5_project_img04.jpg" alt="">
                        <div class="project-link"><a 
                                href="#"><img 
                                    src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four"><img 
                            src="assets/img/project/h5_project_img05.jpg" alt="">
                        <div class="project-link"><a 
                                href="#"><img 
                                    src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

</section>