<!-- slider-area -->
<section class="slider-area_">
    <div class="slider-bg" style="background-image:url('assets/img/banner/hero-img.png');">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="slider-content">
                        <!-- <span class="sub-title" data-animation="fadeInUp" data-delay=".2s">We Are Expert In This Field</span> -->
                        <h2 class="title color-white" data-animation="fadeInUp" data-delay=".4s"
                            style="    font-family: 'Crimson Text';">
                            Believer. Prophet <br>
                            Minister of God's Word.
                        </h2>
                        <p class="hero-description" data-animation="fadeInUp" data-delay=".6s">
                            Prophet Givens Chizenga, the Founder and President of Gathering Of Believers International
                            Ministry,
                            is a highly esteemed Minister of the Word of God and a firm believer in the unlimited power
                            of Christ Jesus. His profound vision and unwavering passion can be summarized by the
                            inspiring words, "Heaven Full, Hell Empty."
                        </p>
                        <a href="#about" class="button text" data-animation="fadeInUp" data-delay=".8s">
                            Learn More
                        </a>
                        <span class="abt-icon" data-animation="fadeInUp" data-delay=".8s">
                            <i class="fas fa-arrow-down"></i>
                        </span>

                    </div>
                </div>
            </div>
            <!-- <section class="features-area-two pt-80">
                <div class="container">
                    <div class="features-item-wrap">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="features-item-two">
                                    <div class="features-icon-two">
                                        <i class="flaticon-profit"></i>
                                    </div>
                                    <div class="features-content-two">
                                        <h4 class="title">Growing Business</h4>
                                        <p>Finance helps you to convert into a strategic asset get.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="features-item-two">
                                    <div class="features-icon-two">
                                        <i class="flaticon-investment"></i>
                                    </div>
                                    <div class="features-content-two">
                                        <h4 class="title">Finance Investment</h4>
                                        <p>Finance helps you to convert into a strategic asset get.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="features-item-two">
                                    <div class="features-icon-two">
                                        <i class="flaticon-taxes"></i>
                                    </div>
                                    <div class="features-content-two">
                                        <h4 class="title">Tax Advisory</h4>
                                        <p>Finance helps you to convert into a strategic asset get.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
        </div>

    </div>
</section>
<!-- <section class="features-area-four">
    <div class="container">
        <div class="features-item-wrap-four">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="features-item-four">
                        <div class="features-icon-four">
                            <i class="flaticon-life-insurance"></i>
                        </div>
                        <div class="features-content-four">
                            <h4 class="title">More coverage</h4>
                            <p>Finance helps you to convert into a strategic asset get.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="features-item-four">
                        <div class="features-icon-four">
                            <i class="flaticon-handshake"></i>
                        </div>
                        <div class="features-content-four">
                            <h4 class="title">Less hassle</h4>
                            <p>Finance helps you to convert into a strategic asset get.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="features-item-four">
                        <div class="features-icon-four">
                            <i class="flaticon-money"></i>
                        </div>
                        <div class="features-content-four">
                            <h4 class="title">Faster benefits</h4>
                            <p>Finance helps you to convert into a strategic asset get.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- slider-area-end -->
<section id="about" class="about-area about-bg" style="background-image:url('assets/img/bg/about_bg.jp_g');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="section-title mb-25 tg-heading-subheading animation-style2_">
                    <span class="sub-title tg-element-title">About</span>
                    <!-- <h2 class="title tg-element-title">ABOUT</h2> -->
                </div>
            </div>
            <div class="col-lg-9">
                <div class="about-content">
                    <p>Driven by the very things that move the heart of God, Prophet Givens Chizenga carries a powerful
                        Prophetic mantle upon his life, illuminating the path of righteousness for believers around the
                        world.</p>
                </div>
            </div>
        </div>
        <div class="container pt-60">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-9">
                    <div class="about-img-eight">
                        <img src="assets/img/images/prophet-givens-inner-about.jpg" width="480"
                            alt="Prophet Givens Chizenga">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content-eight">
                        <div class="section-title-two mb-30">
                            <!-- <span class="sub-title">Get To Know More</span>
                            <h2 class="title">We Have More Than 20+ Years Of Practical Finance Industries</h2> -->
                        </div>

                        <div class="about-content-inner">
                            <p>I am Prophet Givens Chizenga, and I am delighted to share my journey of faith with you.
                                This website is a glimpse into my life as a believer, prophet, and minister of God's
                                Word. From an early age, I heard the voice of God calling me to be a vessel for His
                                glory and a
                                messenger of hope and salvation. With unwavering faith and a deep conviction in the
                                power of the Gospel, I have dedicated my life to proclaiming God's truths and guiding
                                others on their spiritual journey.</p>

                            <p>As a believer, I stand firm in my trust in God and His Word. Through His grace, I have
                                witnessed countless lives transformed and restored. My desire is to inspire and
                                encourage you to deepen your relationship with God, walk in obedience, and discover the
                                abundant life found in Him. I have been blessed with insights and revelations from God.
                                It is my joy to share these divine messages with you, unveiling the mysteries of His
                                Word and helping you navigate the challenges of life with faith and strength.</p>
                            <a href="#about" class="button text" data-animation="fadeInUp" data-delay=".8s">
                                Learn More
                            </a>
                            <div class="right-slide-img">
                                <img src="assets/img/images/inner_about_img04.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="about-area about-bg" style="background: #f9f9fa">
    <div class="container">
        <div class="row align-items-center pb-120">
            <div class="col-lg-3">

                <div class="section-title mb-25 tg-heading-subheading animation-style2_">
                    <span class="sub-title tg-element-title">Ministry</span>
                    <!-- <h2 class="title tg-element-title">ABOUT</h2> -->
                </div>
            </div>
            <div class="col-lg-9">
                <div class="about-content">
                    <p>I am the founder and president of Gathering Of Believers Int Ministry. This ministry is not just
                        an organization, but a passionate pursuit of God's kingdom on earth. It is a calling that has
                        been placed upon my heart to gather believers from all walks of life, united in their faith and
                        dedication to the Gospel.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four">
                        <img src="assets/img/project/h5_project_img01.jpg" alt="">
                        <div class="project-link"><a href="#">
                                <img src="assets/img/icons/plus_icon.svg" alt=""></a>
                        </div>
                    </div>
                    <!-- <div class="project-content-four">
                        <h4 class="title"><a href="#">Illustration Design</a></h4>
                        <span>Creative Work</span>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four">
                        <img src="assets/img/project/h5_project_img02.jpg" alt="">
                        <div class="project-link"><a href="#"><img
                                    src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                    </div>
                    <!-- <div class="project-content-four">
                        <h4 class="title"><a href="#">Design &amp; Development</a></h4>
                        <span>Planing</span>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four">
                        <img src="assets/img/project/h5_project_img03.jpg" alt="">
                        <div class="project-link"><a href="#"><img
                                    src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                    </div>
                    <!-- <div class="project-content-four">
                        <h4 class="title"><a href="#">Marketing Consultancy</a></h4>
                        <span>Development</span>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four">
                        <img src="assets/img/project/h5_project_img04.jpg" alt="">
                        <div class="project-link"><a href="#"><img
                                    src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                    </div>
                    <!-- <div class="project-content-four">
                        <h4 class="title"><a href="#">Digital Marketing</a></h4>
                        <span>Skill Development</span>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="project-item-four">
                    <div class="project-thumb-four">
                        <img src="assets/img/project/h5_project_img05.jpg" alt="">
                        <div class="project-link"><a href="#"><img
                                    src="assets/img/icons/plus_icon.svg" alt=""></a></div>
                    </div>
                    <!-- <div class="project-content-four">
                        <h4 class="title"><a href="#">Strategic Planning</a></h4>
                        <span>Marketing</span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-120 pb-120" style="background: #fff">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">

                <div class="section-title mb-25 tg-heading-subheading animation-style2_">
                    <span class="sub-title tg-element-title">Work With Me</span>
                    <h2 class="title tg-element-title"></h2>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="about-content">
                    <p>As a Man of God, I offer a range of
                        services to support and guide believers on their spiritual journey. With a deep understanding of
                        the Word of God and a profound Prophetic anointing, my mission is to bring hope, healing, and
                        transformation to individuals seeking a closer relationship with God.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faq-area pt-60 pb-80">
    <div class="faq-bg-shape" style="background-image:url('assets/img/images/faq_shape01.png');"></div>
    <div class="container">
        <div class="row align-items-end_ justify-content-center">
            <div class="col-lg-6 col-md-9">
                <div class="faq-img-wrap">
                    <img src="assets/img/images/faq_img01.jpg" alt="">
                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-9">
                <div class="about-img-eight">
                    <img src="assets/img/images/inner_about_img03.jpg" alt="">
                </div>
            </div> -->
            <div class="col-lg-6">
                <div class="faq-content">
                    <div class="section-title mb-30 tg-heading-subheading animation-style2">
                        <!-- <h2 class="title tg-element-title" style="color: blue;">Keep Your Business Safe & Ensure High Availability.</h2> -->
                    </div>
                    <p>Through my ministry, I am committed to providing spiritual guidance and support to those who
                        desire to grow in their faith. With a heart full of compassion and a keen sense of discernment,
                        I offer personalized services that cater to the unique needs of each individual.
                    </p>

                    <div class="accordion-wrap">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        One on One
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>For those desiring a more personalized experience, I offer one-on-one
                                            sessions where we can dive deeper into your specific needs. During these
                                            sessions, you will have the opportunity to receive specific prophetic
                                            insights, spiritual guidance, and personalized prayer. Through the anointing
                                            upon my life, I will bring clarity, encouragement, and direction to your
                                            situation. These sessions are designed to empower you to walk in your
                                            God-given purpose, overcome obstacles, and experience the abundant life that
                                            God has in store for you.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Prayer Requests
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>If you are in need of prayer, I invite you to reach out to me and my
                                            dedicated prayer team. We believe in the power of intercession and standing
                                            in faith with you. Whether you require prayers for healing, breakthrough,
                                            deliverance, or any other specific need, we are committed to lifting up your
                                            requests before the Lord. Your prayer requests will be handled with utmost
                                            care and confidentiality. Submit your prayer requests through the provided
                                            channels, and rest assured that we will fervently pray for God's
                                            intervention in your life.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Counselling
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>I, Prophet Givens Chizenga, am here to provide compassionate and
                                            biblically-based counseling services to individuals facing various
                                            challenges and seeking guidance. If you are dealing with personal struggles,
                                            relationship issues, or spiritual dilemmas, I offer you a safe and
                                            confidential space to share your concerns. With a heart full of empathy and
                                            wisdom rooted in God's Word, I will actively listen, provide guidance, and
                                            offer practical solutions to help you navigate through your difficulties.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="blog-post-area" style="background: #f9f9fa;">
    <div class="container">
        <div class="row align-items-center pb-120">
            <div class="col-lg-3">

                <div class="section-title mb-25 tg-heading-subheading animation-style2_">
                    <span class="sub-title tg-element-title">Blog</span>
                    <h2 class="title tg-element-title"></h2>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="about-content">
                    <p>Delve into my profound teachings and inspirational messages. These writings serve as a treasure
                        trove of spiritual wisdom, practical insights, and
                        heartfelt encouragement. Explore a wide range of topics, including faith, prayer, personal
                        growth, healing, and much more. </p>
                </div>
            </div>
        </div>
        <div class="_ justify-content-center">
            <div class="col-lg-12 col-md-6 col-sm-10">
                <div class="row blog-post-item mb-60">
                    <div class="blog-post-thumb col-md-6 p-0">
                        <a href="#">
                            <img src="assets/img/blog/blog_img01.jpg" alt="">
                        </a>
                        <span class="date"><strong>25</strong>Jan</span>
                    </div>
                    <div class="blog-post-content col-md-6">
                        <a href="#" class="tag">Development</a>
                        <h2 class="title"><a href="#">Embracing Faith: Nurturing the Divine
                                Connection</a>
                        </h2>
                        <p>Everything you need to start building area atching presence for your business.</p>
                        <a href="#" class="link-btn">Read More <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-12 col-md-6 col-sm-10">
                <div class="row blog-post-item mb-60">
                    <div class="blog-post-thumb col-md-6 p-0">
                        <a href="#">
                            <img src="assets/img/blog/blog_img01.jpg" alt="">
                        </a>
                        <span class="date"><strong>25</strong>Jan</span>
                    </div>
                    <div class="blog-post-content col-md-6">
                        <a href="#" class="tag">Development</a>
                        <h2 class="title"><a href="#">Meet AutoManage, the best AI management tools</a>
                        </h2>
                        <p>Everything you need to start building area atching presence for your business.</p>
                        <a href="#" class="link-btn">Read More <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-12 col-md-6 col-sm-10">
                <div class="row blog-post-item mb-60">
                    <div class="blog-post-thumb col-md-6 p-0">
                        <a href="#">
                            <img src="assets/img/blog/blog-img-1.jpg" alt="">
                        </a>
                        <span class="date"><strong>25</strong>Jan</span>
                    </div>
                    <div class="blog-post-content col-md-6">
                        <a href="#" class="tag">Development</a>
                        <h2 class="title"><a href="#">Meet AutoManage, the best AI management tools</a>
                        </h2>
                        <p>Everything you need to start building area atching presence for your business.</p>
                        <a href="#" class="link-btn">Read More <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="choose-area-three">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-img-eight">
                    <img src="assets/img/images/inner_about_img03.jpg" alt="">
                </div>
                
            </div>
            <div class="col-lg-6">
                <div class="choose-content-three">
                    <div class="section-title-two white-title mb-30">
                        <span class="sub-title">What Specialty</span>
                        <h2 class="title">Keep Your Business Safe &amp; Ensure High Availability.</h2>
                    </div>
                    <p>Ever find yourself staring at your computer s good consulting slogan to come to mind? Oftentimes.</p>
                    <div class="accordion-wrap-two">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Interdum et malesuada fames ac ante ipsum
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Ever find yourself staring at your computer screen a good consulting slogan to coind yourself sta your computer screen a good consulting slogan.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Interdum et malesuada ante ipsum
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Ever find yourself staring at your computer screen a good consulting slogan to coind yourself sta your computer screen a good consulting slogan.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Ente ipsumerdum et malesuada fames
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Ever find yourself staring at your computer screen a good consulting slogan to coind yourself sta your computer screen a good consulting slogan.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="cta-area pt-120 pb-120">
    <div class="container">
        <div class="cta-inner-wrap" data-background="assets/img/bg/cta_bg.jpg"
            style="background-image: url(&quot;assets/img/bg/cta_bg.jpg&quot;);">
            <div class="row align-items-center">
                <div class="col-lg-9">
                    <div class="cta-content">
                        <div class="cta-info-wrap">
                            <div class="icon">
                                <i class="flaticon-phone-call"></i>
                            </div>
                            <div class="content">
                                <span>Call For More Info</span>
                                <a href="tel:0123456789">+123 8989 444</a>
                            </div>
                        </div>
                        <h2 class="title">Let’s Request a Schedule For Free Consultation</h2>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="cta-btn text-end">
                        <a href="#" class="btn btn-three">Get In Touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>